body {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 15px;
  margin: 25px;
}

.red {
  background-color: rgb(229, 112, 112);
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blueviolet;
}

.gameFlash {
  background-color: white;
}

.userFlash {
  background-color: aqua;
}
